@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.layout {
  max-width: 1270px;
  width: 100%;
  @include margin-auto;
  padding-left: 15px;
  padding-right: 15px;

  &--large {
    max-width: 1060px;
  }
  &--small {
    max-width: 840px;
  }
}

.row>* {
  padding-left: 10px;
  padding-right: 10px;
}