.section.section__full-offset
    .layout.layout--large
        .heading.heading--offset-small
            .heading__title All pages

        ._list-page
            +listLink("Home", "home.html", "_list-page__li", "_list-page__link link")
            +listLink("Solutions", "solutions.html", "_list-page__li", "_list-page__link link")
            +listLink("Solutions / xTex digitization technology", "solutions-xTex-digitization-technology.html", "_list-page__li", "_list-page__link link")
            +listLink("Solutions / xTex digitization technology / Basic workflow", "solutions-basic-workflow.html", "_list-page__li", "_list-page__link link")
            +listLink("Solutions / xTex digitization technology / Professional workflow", "solutions-professional-workflow.html", "_list-page__li", "_list-page__link link")
            +listLink("Solutions / xTex digitization technology / Enterprise workflow", "solutions-enterprise-workflow.html", "_list-page__li", "_list-page__link link")
            +listLink("Solutions / Digitization service", "solutions-digitization-service.html", "_list-page__li", "_list-page__link link")
            +listLink("Solutions / Consulting", "consulting.html", "_list-page__li", "_list-page__link link")
            +listLink("Stories", "stories.html", "_list-page__li", "_list-page__link link")
            +listLink("Story example", "story-example.html", "_list-page__li", "_list-page__link link")
            +listLink("Company", "company.html", "_list-page__li", "_list-page__link link")
            +listLink("Company / Career", "career.html", "_list-page__li", "_list-page__link link")
            +listLink("Company / Career / Job example", "career-job-example.html", "_list-page__li", "_list-page__link link")
            +listLink("Partner", "partner.html", "_list-page__li", "_list-page__link link")
            +listLink("Technology", "technology.html", "_list-page__li", "_list-page__link link")
            +listLink("Universities", "universities.html", "_list-page__li", "_list-page__link link")
            +listLink("Contact", "contact.html", "_list-page__li", "_list-page__link link")
