section#animation-section.section__full-offset.tab-materials
    .layout.layout--large
        .heading.heading--center
            .heading__title From analog to digital
        .tab-materials__wrapper
            .tab-materials__menu
                .tab-materials__list.tab-materials__list--active 01
                .tab-materials__list 02
                .tab-materials__list 03
            .tab-materials__slider
                .tab-materials__slider-item.tab-materials__slider-item--active
                    .tab-materials__content
                        h3 Physical #[br] materials
                        p Leverage digital technology to value your key asset - the physical material.
                    .tab-materials__image
                        +img("src/blocks/tab-materials/assets/img/tab-materials1.jpg")
                .tab-materials__slider-item
                    .tab-materials__content
                        h3 Digitize #[br] materials
                        p Create your digital twin using Vizoo technology & services.
                        a(href="#") How does that work?
                    .tab-materials__image
                        +img("src/blocks/tab-materials/assets/img/tab-materials2.jpg")
                .tab-materials__slider-item
                    .tab-materials__content
                        h3 Apply #[br] materials
                        p Use xTex digital materials in Browzwear, CLO, Optitex, Vidya or with any other 3D software.
                    .tab-materials__image
                        +img("src/blocks/tab-materials/assets/img/tab-materials3.jpg")