block variables

include ../blocks/base/mixin

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")
        link(rel="shortcut icon" href="../../images/favicon/favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" href="../../images/favicon/apple-touch-icon.png" type="image/x-icon")
        link(rel="shortcut icon" href="../../images/favicon/apple-touch-icon-72x72.png" type="image/x-icon")
        link(rel="shortcut icon" href="../../images/favicon/apple-touch-icon-144x144.png" type="image/x-icon")

        title #{title}
        block scripts

    body
        block header
            include ../blocks/header/header
        block content