@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.content-default {

  &__offset-left {
    @include offset(padding-left, 30px, 105px, 768px, 1024px);
    @include mobile-big-screen {
      padding-left: 0;
    }
  }

  &__offset-right {
    @include offset(padding-right, 30px, 105px, 768px, 1024px);
    @include mobile-big-screen {
      padding-right: 0;
    }
  }

  &__wrapper {
    display: flex;
    margin: 0 -10px;
    @include mobile-big-screen {
      flex-direction: column-reverse;
    }

    &--revers {
      flex-direction: row-reverse;
      @include mobile-big-screen {
        flex-direction: column-reverse;
      }
    }
  }

  &__item {
    padding: 0 10px;

    &--5 {
      @include col(5);
      @include mobile-big-screen {
        width: 100%;
      }
    }

    &--7 {
      @include col(7);
      @include mobile-big-screen {
        width: 100%;
      }
    }

    &--6 {
      @include col(6);
      @include mobile-big-screen {
        width: 100%;
      }
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 700;
    color: #002b2b;
    margin-bottom: 20px;
  }
  &__title {
    @include fr();
    @include offset(font-size, 28px, 40px, 768px, 1024px);
    @include offset(font-size, 37px, 47px, 768px, 1024px);
    font-weight: 500;
    letter-spacing: .2px;
    color: #002b2b;
    margin-bottom: 30px;
  }

  &__desc {
    font-size: 18px;
    color: #002b2b;
    margin-bottom: 20px;
    max-width: 300px;
  }

  a {
    font-size: 18px;
    font-weight: 500;
    color: var(--green-color);
  }
}

//@include grid(content-default__item-);