mixin footer()
    .footer
        .layout.layout--small
            .footer__title
                block
            include ../social-link/social-link
            .footer__contact-wrapper
                .footer__contact-item
                    h3.footer__contact-title Vizoo HQ
                    .footer__contact-text
                        p Vizoo GmbH #[br]
                            | Johann-Karg-Str. 30 #[br]
                            | 85540 Munich #[br]
                            | Germany
                        p +49 (0) 89 37917647
                .footer__contact-item
                    h3.footer__contact-title Vizoo USA
                    .footer__contact-text
                        p Vizoo GmbH #[br]
                            | 1708-C Augusta St #103 #[br]
                            | Greenville, SC 29605 #[br]
                            | USA
                        p +1 (864) 735-8084
                .footer__contact-item
                    h3.footer__contact-title Vizoo Logistics
                    .footer__contact-text
                        p Vizoo GmbH #[br]
                            | Pasteurstr. 2 #[br]
                            | 84570 Polling #[br]
                            | Germany
            //.row
            //    .col-lg-4.col-md-4.col-sm-4
            //        .footer__contact-item
            //            h3.footer__contact-title Vizoo HQ
            //            .footer__contact-text
            //                p Vizoo GmbH #[br]
            //                    | Johann-Karg-Str. 30 #[br]
            //                    | 85540 Munich #[br]
            //                    | Germany
            //                p +49 (0) 89 37917647
            //    .col-lg-4.col-md-4.col-sm-4
            //        .footer__contact-item
            //            h3.footer__contact-title Vizoo USA
            //            .footer__contact-text
            //                p Vizoo GmbH #[br]
            //                    | 1708-C Augusta St #103 #[br]
            //                    | Greenville, SC 29605 #[br]
            //                    | USA
            //                p +1 (864) 735-8084
            //    .col-lg-4.col-md-4.col-sm-4
            //        .footer__contact-item
            //            h3.footer__contact-title Vizoo Logistics
            //            .footer__contact-text
            //                p Vizoo GmbH #[br]
            //                    | Pasteurstr. 2 #[br]
            //                    | 84570 Polling #[br]
            //                    | Germany

            .footer__copy
                p © 2021 Vizoo GmbH
                .footer__copy-lists
                    a(href="#") Legal Notice
                    a(href="#") Privacy Policy