mixin materialsItem()
    a(href="#").materials-gallery__item.materials-gallery__item--active(style="background-image: url(../src/blocks/materials-gallery/assets/img/materials-image1.jpg)")
        p Content for #[br] ecommerce

.section.section__full-offset
    .layout.layout--large
        .heading.heading--center.heading--offset-small
            .heading__title Transform your business with 3D materials
        .materials-gallery.row
            .my-col-7.materials-gallery__column
                .materials-gallery__wrapper.row
                    .my-col-4
                        a(href="#" data-material-text="1. Save photo shoot cost by creating consistent renderings.").materials-gallery__item.materials-gallery__item--active(style="background-image: url(../src/blocks/materials-gallery/assets/img/materials-image1.jpg)")
                            p Content for #[br] ecommerce
                    .my-col-4
                        a(href="#" data-material-text="2. Save photo shoot cost by creating consistent renderings.").materials-gallery__item(style="background-image: url(../src/blocks/materials-gallery/assets/img/materials-image1.jpg)")
                            p Digital #[br] swatch books
                    .my-col-4
                        a(href="#" data-material-text="3. Save photo shoot cost by creating consistent renderings.").materials-gallery__item(style="background-image: url(../src/blocks/materials-gallery/assets/img/materials-image1.jpg)")
                            p Print #[br] Preview
                    .my-col-4
                        a(href="#" data-material-text="4. Save photo shoot cost by creating consistent renderings.").materials-gallery__item(style="background-image: url(../src/blocks/materials-gallery/assets/img/materials-image1.jpg)")
                            p Digital #[br] Fabric Fair
                    .my-col-4
                        a(href="#" data-material-text="5. Save photo shoot cost by creating consistent renderings.").materials-gallery__item(style="background-image: url(../src/blocks/materials-gallery/assets/img/materials-image1.jpg)")
                            p 3D #[br] Design
                    .my-col-4
                        a(href="#" data-material-text="6. Save photo shoot cost by creating consistent renderings.").materials-gallery__item(style="background-image: url(../src/blocks/materials-gallery/assets/img/materials-image1.jpg)")
                            p Product #[br]  Previews
                    .my-col-4
                        a(href="#" data-material-text="7. Save photo shoot cost by creating consistent renderings.").materials-gallery__item(style="background-image: url(../src/blocks/materials-gallery/assets/img/materials-image1.jpg)")
                            p Prototyping & #[br] Sampling
                    .my-col-4
                        a(href="#" data-material-text="8. Save photo shoot cost by creating consistent renderings.").materials-gallery__item(style="background-image: url(../src/blocks/materials-gallery/assets/img/materials-image1.jpg)")
                            p Online #[br] Configurator
                    .my-col-4
                        a(href="#" data-material-text="9. Save photo shoot cost by creating consistent renderings.").materials-gallery__item(style="background-image: url(../src/blocks/materials-gallery/assets/img/materials-image1.jpg)")
                            p Color #[br] Variations
            .my-col-5.materials-gallery__column
                +contentDefault("content-default__offset-left")
                    h3.content-default__title Content for ecommerce
                    p.content-default__desc Save photo shoot cost by creating consistent renderings.