extends ../templates/main

include ../blocks/header-content/header-content
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/video/video
include ../blocks/content-default/content-default
include ../blocks/image-default/image-default
include ../blocks/content-section/content-section
include ../blocks/product-circle/product-circle
include ../blocks/footer/footer

block variables
    - var title = 'VIZZO'


block content
    +headerContent("../src/blocks/header-content/assets/img/header-background5.jpg")
        ul.breadcrumbs
            +listBreadcrumbs("Solutions")
            +listBreadcrumbs("xTex™ digitization technology")
        h1.header-content__title Basic#[br] Workflow
        p.header-content__desc Our custom made software works hand in hand with your hardware. Easy set up, lightweight integration for basic prototyping and 3d beginners - the simple way to achieve great results.

    .section.section__full-offset
        .layout.layout--large
            .content-default__wrapper.content-default__wrapper--revers
                .content-default__item.content-default__item--5
                    +contentDefault("content-default__offset-left")
                        h3.content-default__title Tile
                        p.content-default__desc Best in class tiling algorithms: Use the most elaborate tools to create seamless textures. You can select between 3 different algorithms to achieve the best possible result for any use case.
                        p.content-default__desc With Synthesis and Pattern Recognition you can even customize the output size and create large textures from small samples.

                .content-default__item.content-default__item--7
                    +imageDefault("../src/blocks/content-default/assets/img/content-default--image7.jpg")

    .section.section__full-offset
        .layout.layout--large
            .content-default__wrapper
                .content-default__item.content-default__item--5
                    +contentDefault()
                        h3.content-default__title Color-up
                        p.content-default__desc You have different color variations of one material? No need to scan them seperately – with xTex you can easily recolor your materials.
                        p.content-default__desc Our recoloring tool automatically detects the colors in the image.
                .content-default__item.content-default__item--7
                    +imageDefault("../src/blocks/content-default/assets/img/content-default--image8.jpg")

    .section.section__full-offset
        .layout.layout--large
            .heading.heading--center.heading--offset-large
                .heading__title Comparing the xTex™ workflows
            .table__wrapper
                .table
                    .table__head
                        .table__row
                            .table__col
                            .table__col.table__col--active Basic
                            .table__col Professional
                            .table__col Enterprise
                    .table__body
                        .table__row
                            .table__col Color calibration
                            .table__col.table__col--active
                                span.icon-dash
                            .table__col
                                span.icon-check
                            .table__col
                                span.icon-check
                        .table__row
                            .table__col Drape verification
                            .table__col.table__col--active
                                span.icon-dash
                            .table__col
                                span.icon-dash
                            .table__col
                                span.icon-check
                        .table__row
                            .table__col Color verification workflow
                            .table__col.table__col--active
                                span.icon-dash
                            .table__col
                                span.icon-dash
                            .table__col
                                span.icon-check
                        .table__row
                            .table__col U3M format
                            .table__col.table__col--active
                                span.icon-check
                            .table__col
                                span.icon-check
                            .table__col
                                span.icon-check
                        .table__row
                            .table__col Tiling
                            .table__col.table__col--active
                                span.icon-check
                            .table__col
                                span.icon-check
                            .table__col
                                span.icon-check
                        .table__row
                            .table__col PBR textures (physically correct)
                            .table__col.table__col--active
                                span.icon-dash
                            .table__col
                                span.icon-check
                            .table__col
                                span.icon-check
                        .table__row
                            .table__col Correct transparency
                            .table__col.table__col--active
                                span.icon-check
                            .table__col
                                span.icon-check
                            .table__col
                                span.icon-check
                        .table__row
                            .table__col Upgradability
                            .table__col.table__col--active
                                span.icon-check
                            .table__col
                                span.icon-check
                            .table__col
                                span.icon-check

    section.section.section__full-offset
        .layout.layout--large
            .heading.heading--center
                .heading__title Choose what is right for you
            .product-circle__wrapper
                .product-circle__item
                    +productCircle("../src/blocks/product-circle/assets/img/product-circle4.jpg", "Basic workflow")
                .product-circle__item
                    +productCircle("../src/blocks/product-circle/assets/img/product-circle5.jpg", "Professional workflow ")
                .product-circle__item
                    +productCircle("../src/blocks/product-circle/assets/img/product-circle6.jpg", "Enterprise workflow")

    +footer()
        | What’s the best choice for you?#[br] Contact us for individual offers.