extends ../templates/main

include ../blocks/header-content/header-content
include ../blocks/content-section/content-section
include ../blocks/content-default/content-default
include ../blocks/image-default/image-default
include ../blocks/post/post
include ../blocks/footer/footer

block variables
    - var title = 'VIZZO'


block content
    +headerContent("../src/blocks/header-content/assets/img/header-background5.jpg")
        h1.header-content__title Training the future #[br] workforce
        p.header-content__desc Educational institutes needs to provide students with knowledge and tools they need to design their future career.

    .section.section__full-offset
        .layout.layout--large
            .heading.heading--center.heading--offset-big
                .heading__title We do collaborate with the future
            .content-default__wrapper
                .content-default__item.content-default__item--6
                    +contentDefault()
                        .content-default__desc-content
                            p More and more brands are moving to digital product creation as the new normal. Thus they are looking for 3D designers, product managers and fabric experts who are experienced in the industry tools.
                            p Educational institutions are challenged to introduce the new technologies in their agenda. This is where Vizoo partnership
                            p Using our tools we offer support,
                .content-default__item.content-default__item--6
                    +imageDefault("../src/blocks/content-default/assets/img/content-default--image11.jpg")

    section.section.section__full-offset.section__post
        .layout.layout--large

            .post__wrapper
                +post("../src/blocks/post/assets/img/post-icon4.png", "post--offset-small")
                    h4.post__subtitle Press release
                    h3.post__title A new giant: The xTex™ A1
                    p.post__text This is the the description text, followed by more description text. This is description text and the description text, followed by more description text. This is the the description text, followed by more description text.
                    a(href="#").post__link A link to somewhere

                +post("", "post--offset-small")
                    h4.post__subtitle Label name
                    h3.post__title Title of this module
                    p.post__text This is the the description text, followed by more description text. This is description text and the description text, followed by more description text. This is the the description text, followed by more description text.
                    a(href="#").post__link A link to somewhere

                +post("../src/blocks/post/assets/img/post-icon4.png", "post--offset-small")
                    h4.post__subtitle Press release
                    h3.post__title A new giant: The xTex™ A1
                    p.post__text This is the the description text, followed by more description text. This is description text and the description text, followed by more description text. This is the the description text, followed by more description text.
                    a(href="#").post__link A link to somewhere

                +post("", "post--offset-small")
                    h4.post__subtitle Label name
                    h3.post__title Title of this module
                    p.post__text This is the the description text, followed by more description text. This is description text and the description text, followed by more description text. This is the the description text, followed by more description text.
                    a(href="#").post__link A link to somewhere

    +footer()
        | Interested in teaming up?