@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.grid {
  display: flex;
  .row {
    margin: 0 -10px;
  }
  .col {
    padding: 0 10px;
  }
}
@include grid(my-col);