ul.socials__menu
    li
        a(href="#")
            img(src="src/blocks/social-link/assets/img/mail.svg" alt="post")
    li
        a(href="#")
            img(src="src/blocks/social-link/assets/img/li.svg" alt="Linkedin")
    li
        a(href="#")
            img(src="src/blocks/social-link/assets/img/instagram.svg" alt="instagram")
    li
        a(href="#")
            img(src="src/blocks/social-link/assets/img/facebook.svg" alt="facebook")
    li
        a(href="#")
            img(src="src/blocks/social-link/assets/img/youtube.svg" alt="youtube")