section.section__preview-materials.preview-materials
    .layout.preview-materials__wrapper
        .preview-materials__content
            .preview-materials__title
                h2 Your #[b materials] in brilliant #[b 3d]
            .preview-materials__text
                | #[b Business has changed –]
                br
                | The 21st century fashion industry creates and conceptualises its prodution lines using computer-aided tools.
            a(href="#").button.button--border Request a demo
        .preview-materials__image
            +img("src/blocks/preview-materials/assets/img/preview-materials1.png")