section.slider-section
    .slider-section__wrapper(style="background-image: url(../src/blocks/slider-section/assets/img/slider1.jpg)")
        .layout.layout--large
            .heading.heading--center.heading--white
                .heading__title Your material’s digital twin
            .slider-section__main
                .slider-section__item
                    .slider-section__title
                        h3 Interior Design
                    .slider-section__desc
                        p Apply various kinds of digital materials to your interior design products, consistently using real-life textures on your 3d models.
                .slider-section__item
                    .slider-section__title
                        h3 Interior Design
                    .slider-section__desc
                        p Apply various kinds of digital materials to your interior design products, consistently using real-life textures on your 3d models.
            .slider-section__navigate