mixin roadmapItem(year, content)
    .roadmap__item
        .roadmap__item-year= year
        .roadmap__item-circle
        .roadmap__item-content= content

.roadmap
    +roadmapItem("2013", "Founded by Martin Semsch & Reinhard Meier in Erlangen, Germany")
    +roadmapItem("2014", "Release of the xTex A4 Scanner")
    +roadmapItem("2016", "Scanners distributed in more than 10 countries")
    +roadmapItem("2017", "New Vizoo location in Munich, Germany")
    +roadmapItem("2017", "Apparel industry becoming the biggest market for Vizoo")
    +roadmapItem("2017", "Release of the xTex A4 version 2 scanner enabling PBR texture output")
    +roadmapItem("2018", "New production & logistics location in Weiding, Germany")
    +roadmapItem("2018", "Launch of the U3M format")
    +roadmapItem("2019", "Release of the xTex A2 Scanner")
    +roadmapItem("2019", "New Vizoo location in South Carolina, USA")
    +roadmapItem("2020", "Renate Eder joins as Managing Partner")
    +roadmapItem("2020", "Scanners distributed in more than 40 countries")