section.clients.section__full-offset
    .layout
        .heading.heading--center
            .heading__title #[b 300+ clients] trust our state-of-the-art technology & services
        .clients__wrapper
            .clients__item
                +img("src/blocks/clients/assets/img/clients1.png")
            .clients__item
                +img("src/blocks/clients/assets/img/clients2.png")
            .clients__item
                +img("src/blocks/clients/assets/img/clients3.png")
            .clients__item
                +img("src/blocks/clients/assets/img/clients4.png")
            .clients__item
                +img("src/blocks/clients/assets/img/clients5.png")
            .clients__item
                +img("src/blocks/clients/assets/img/clients6.png")